html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding: 4em;
  font-family: 'Helvetica Neue', 'Helvetica' 'Arial';
}
h1 {
  font-size: 32px;
  padding-bottom: 32px;
}
.tab {
  font-size: 22px;
}
.tabs {
  padding-bottom: 1em;
}
.tabs__menu {
  margin: 0 0 2em 0;
  padding: 0;
}
.tabs__button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.3;
  outline: 0;
  color: #fff;
  padding: 0.3em 0.5em;
  font-size: 18px;
}
.tabs__item {
  list-style-type: none;
  display: inline-block;
  background-color: #808080;
  margin-right: 1em;
}
.tabs__item:hover,
.tabs__item:focus {
  background-color: #4d4d4d;
}
.tabs__item--active {
  background-color: #000;
}
