html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font: 125% / 1.45 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

a {
  color: #3ECEDB;
}

h1 {
  font-size: 1.5em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.main {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1em;
}

.footer {
  font-size: 0.8em;
  color: #999;
  padding: 1em 0;
}

@import "../../components/tab-list/index";
@import "../../components/tab/index";
@import "../../components/panel/index";

ul[role="tablist"] {
  margin-bottom: 0;
}

a[role="tab"] {
  display: block;
  background-color: white;
  border: 1px solid silver;
  border-bottom: 0;
  padding: 10px 20px;
  border-radius: 3px 3px 0 0;
}

a[role="tab"][aria-selected="true"] {
  transform: translateY(1px);
}

li[role="presentation"] + li[role="presentation"] a[role="tab"] {
  border-left: 0;
}

div[role="tabpanel"] {
  border-top: 1px solid silver;
  padding: 20px 0;
}
