@import "include/reset";

body {
  padding: 4em;
  font-family: 'Helvetica Neue', 'Helvetica' 'Arial';
}

a {
  color: #3ECEDB;
}

h1 {
  font-size: 32px;
  padding-bottom: 32px;
}

h2 {
  padding-bottom: 32px;
}

.byline {
  font-size: 12px;
  color: #ccc;
  position: fixed;
  bottom: 2em;
}

@import "../../components/tab/index";
@import "../../components/tabs/index";
