li[role='presentation'] {
  display: inline-block;
  cursor: pointer;
}

a[role='tab'] {
  text-decoration: none;
  display: block;
  color: inherit;
}

a[role='tab'][aria-selected='true'] {
  font-weight: bold;
}
