li[role='tab'] {
  display: inline-block;
  cursor: pointer;
}

li[role='tab'][aria-selected='true'] {
  font-weight: bold;
}

li[role='tab'] > a {
  text-decoration: none;
  display: block;
  color: inherit;
}
